{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}

{% block title %}Последние 10 объявлений{% endblock %}

{% block content %}
<h2 class="mb-2">Последние 10 объявлений</h2>
<div class="container-fluid mb-2">
    <div class="row">
        <!-- чтобы форма была справа, 1 эл пустой -->
        <div class="col">&nbsp;</div>
        <form class="col-md-auto form-inline">
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Искать' button_type='submit' %}
        </form>
    </div>
</div>
{% if bbs %}
<!-- перечень объявлений - маркированный список HTML -->
<ul class="list-unstyled">
    {% for bb in bbs %}
    <!-- Пункт списка, my-5 - внешние отступы, p-3 - внутренние отступы-->
    <li class="media my-5 p-3 border">
        <!-- гиперссылка на базе основной иллюстрации и названиии объявления -->
        {% url 'main:detail' rubric_pk=bb.rubric.pk pk=bb.pk as url %}
        <a href="{{ url }}">
        {% if bb.image %}
        <img class="mr-3" src="{% thumbnail bb.image 'default' %}">
        {% else %}
        <img class="mr-3" src="{% static 'main/empty.png' %}">
        {% endif %}
        </a>
        <div class="media-body">
            <h3><a href="{{ url }}">{{ bb.title }}</a></h3>
            <p class="font-size small"><a href="{% url 'main:by_rubric' pk=bb.rubric.pk %}">{{ bb.rubric }}</a></p>
            <div>{{ bb.content }}</div>
            <p class="text-right font-weight-bold">{{ bb.price|intcomma }} руб</p>
            <p class="text-right font-italic">{{ bb.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% bootstrap_pagination page url=keyword %}
{% endif %}
{% endblock %}
