{% extends "layout/basic.html" %}

{% load humanize %}

{% block title %}{{ bb.title }} - {{ rubric.name }}{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        {% if bb.image %}
        <div class="col-md-auto"><img src="{{ bb.image.url }}" class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p class="text-right font-weight-bold">{{ bb.price|intcomma }} руб.</p>
            <p class="text-right">Контакты: {{ bb.contacts }}</p>
            <p class="text-right font-italic">Добавлено {{ bb.created_at }}</p>
        </div>
    </div>
</div>
{% if ais %}
<!-- d-flex - гибкая разметка, j-c-b - элементы внутри родителя, flex-wrap - если не хватит места, дочерние эл. на след строку -->
<div class="d-flex justify-content-between flex-wrap mt-2">
    {% for ai in ais %}
    <div>
        <img class="additional-image" src="{{ ai.image.url }}">
    </div>
    {% endfor %}
</div>
{% endif %}
<p class="text-right mt-4">
    <a href="{% url 'main:profile_bb_change' pk=bb.pk %}">Редактировать</a>
    &nbsp;
    <a href="{% url 'main:profile_bb_delete' pk=bb.pk %}">Удалить</a>
</p>
{% endblock %}